.mb-3 {
    text-align: left;
}

.contact {
    border: solid rgb(29, 73, 83) 2px;
    background-color: rgb(20 15 35);
    padding: 15px 10px 15px 10px;
    margin: 15px 0 15px 0;
    border-radius: 15px;
}

.btn-light {
    float: left;
}

.contact-image {
    margin-top: 100px;
}