.footer-wrapper {
    .border {
        height: 10px;

        .first {
            height: 100%;
            display: inline-block;
            background-color: #376d73;


        }

        .second {
            height: 100%;
            display: inline-block;
            background-color: #376d73;
        }

        .third {
            height: 100%;
            display: inline-block;
            background-color: #376d73;

        }
    }
}