.purple {
    color: var(--imp-text-color);
}

.tech-icons {
    font-size: 3em;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(200, 137, 230, 0.637);
    border-radius: 5px;
}

@media (max-width: 767px) {
    .tech-icons {
        margin: 10px;
    }
}

.tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid rgba(197, 115, 230, 0.883);
}